div {
	border: 1px solid black;
	width: 150px;
	height: 50px;
	padding: 20px;
	font-weight: bold;
	margin-bottom: 10px;
	color: #fff;
}

#red {
	background-color:red;
}

#orange {
	background-color:orange;
	margin-left: 30px;
}

#yellow {
	background-color:yellow;
	margin-left: 60px;	
}

#green {
	background-color:green;
	margin-left: 90px;	
}

#blue {
	background-color:blue;
	margin-left: 120px;	
}

#violet {
	background-color:violet;
	margin-left: 150px;	
}